<!DOCTYPE html>
<html lang="en">
    {{>header}}
    <body>
        {{>navigation}}
        
        <main role="main" class="container">
            <h1>{{title}}</h1>
            <img src="/img/army_hydro.jpg" class="rounded small float-left mr-1">
            <p>This site was created by Joshua Osburn. It uses <a href="https://nodejs.org" target="_blank">Node.js</a> for the backend while using <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> and JavaScript for the frontend. The site is simple: using the <a href="https://mapbox.com" target="_blank">Mapbox</a> and <a href="https://openweathermap.org" target="_blank">OpenWeather</a> APIs, weather data for the location you specify is retrieved.</p>
        </main>

        {{>footer}}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>