<!DOCTYPE html>
<html lang="en">
    {{>header}}
    <body>
        {{>navigation}}

        <main role="main" class="container">
            <h1>{{title}}</h1>
            <p>Check the latest weather data at a specific location!</p>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">City, State</span>
                        </div>
                        <input class="form-control" id="locationInput" placeholder="city, state">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ul class="list-group">
                <li class="list-group-item" id="location">Cras justo odio</li>
                <li class="list-group-item" id="description">Dapibus ac facilisis in</li>
                <li class="list-group-item" id="feels_like">Vestibulum at eros</li>
                <li class="list-group-item" id="temperature">Morbi leo risus</li>
                <li class="list-group-item" id="temp_min">Porta ac consectetur ac</li>
                <li class="list-group-item" id="temp_max">Vestibulum at eros</li>
                <li class="list-group-item" id="humidity">Vestibulum at eros</li>
            </ul>       
        </main>

        {{>footer}}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
    </body>
</html>